<div class="container" style="margin-top:5%; width:45%;">
    <form method="POST">
        <div class="form-group">
            <label for="AssetID">Asset ID: </label>
            <input class="form-control" type="text" name="Asset_Id" placeholder="Asset Id">
        </div>

        <div class="form-group">
            <label for="TaskID">Task ID: </label>
            <input class="form-control" type="text" name="Task_Id" placeholder="Task Id">
        </div>

        <div class="form-group">
            <label for="WorkerID">Worker ID: </label>
            <input class="form-control" type="text" name="Worker_Id" placeholder="Worker Id">
        </div>

        <div class="form-group">
            <label for="TimeAlloc">Time of Allocation: </label>
            <input class="form-control" type="datetime-local" name="Time_Alloc" placeholder="Time of Allocation">
        </div>

        <div class="form-group">
            <label for="Deadline">Deadline: </label>
            <input class="form-control" type="datetime-local" name="Deadline" placeholder="Time to be performed by">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">SUBMIT</button>
        </div>
    </form>
</div>