<div class="container-section">
    <div class="row">
        {{#each assets}}
        <div class="col-md-3">
            <br>
            <h5>
                ID: {{ assetID }}
            </h5>
            <h5>
                Name: {{ assetName }}
            </h5>
        </div>
        {{/each}}
    </div>
</div>