<div class="container-section">
    <div class="row">
        {{#if message }}
        <div class="alert alert-danger alert-dismissible" style="margin-top: 5%;">
            <h4>
                {{message}}
            </h4>
        </div>
        {{/if}}
    </div>
</div>