<div class="container">
    <h3>
        <br>
        <br>
        <ol>
            <li>
                <a href="/add-asset"> add-asset </a>
            </li>
            <li>
                <a href="/add-task"> add-task </a>
            </li>
            <li>
                <a href="/add-worker"> add-worker </a>
            </li>
            <li>
                <a href="/assets/all"> assets/all </a>
            </li>
            <li>
                <a href="/allocate-task"> allocate-task </a>
            </li>
            <li>
                <a href="/get-task-for-worker"> get-task-for-worker </a>
            </li>
        </ol>
    </h3>

</div>